{% load staticfiles %}
    <!--footer start-->
    <footer class="footer widget-footer clearfix footer_main">
       
         <div class="second-footer ttm-textcolor-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget clearfix">
                            <div class="footer-logo">
                               <a href="{% url 'index' %}" class="footer_logo">Skillhet</a>
                            </div>
                            <p>{{ address.0.footer_content }}</p>
                        </div>
                      
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix ">
                           <h3 class="widget-title">Our Services</h3>
                            <ul id="menu-footer-services" class="footer_services">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <!-- <li><a href="#!">Services</a></li> -->
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                           <h3 class="widget-title">Get in touch</h3>
                           <div class="textwidget widget-text">
                               <div class="get_in_touch">
                                   <ul>
                                       <li>
                                           <div>
                                               <span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ address.0.landline }}
                                           </div>
                                       </li>
                                        <li>
                                           <div>
                                               <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>{{ address.0.email }}
                                           </div>
                                       </li>
                                       <li>
                                           <div>
                                               <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ address.0.address|slice:":25" }}
                                           </div>
                                       </li>
                                       
                                   </ul>
                               </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget flicker_widget clearfix">
                           <h3 class="widget-title">Social links</h3>
                             <ul class="list-inline social_links">
                                <li><a href="{{ social.0.facebook }}" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="{{ social.0.twitter }}" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="{{ social.0.flickr }}" target="_blank" ><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                <li><a href="{{ social.0.linkedin }}" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-8 ttm-footer2-left">
                        <span>Copyright © {% now "Y" %} <a href="{% url 'index' %}"> Skillhet</a>. All rights reserved.</span>
                    </div>
                    <div class="col-md-4 ttm-footer2-right">
                       <div class="social-icons">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->

    <!-- Color Palate / Color Switcher -->
    <div class="color-switcher">
       
        <div class="color-switcher-header">
            <h6>Switcher Colors</h6>
        </div>
        <div class="various-color clearfix">
            <div class="colors-list">
                <span class="theme-color default-color active" data-file="{% static 'css/colors/default-color.css' %}"></span>
                <span class="theme-color theme-color1" data-file="{% static 'css/colors/theme-color1.css' %}"></span>
                <span class="theme-color theme-color2" data-file="{% static 'css/colors/theme-color2.css' %}"></span>
                <span class="theme-color theme-color3" data-file="{% static 'css/colors/theme-color3.css' %}"></span>
                <span class="theme-color theme-color4" data-file="{% static 'css/colors/theme-color4.css' %}"></span>
                <span class="theme-color theme-color5" data-file="{% static 'css/colors/theme-color5.css' %}"></span>
            </div>
        </div>
    </div><!-- Color Palate / Color Switcher end-->

</div><!-- page end -->


    <!-- Javascript -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/color-switcher.js' %}"></script> 
    <script src="{% static 'js/jquery.easing.js' %}"></script>    
    <script src="{% static 'js/jquery-waypoints.js' %}"></script>    
    <script src="{% static 'js/jquery-validate.js' %}"></script> 
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/numinate.min6959.js?ver=4.9.3' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
 

    <!-- Revolution Slider -->
    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'revolution/js/slider.js' %}"></script>   
    <script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>

    <!-- Javascript end-->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>




    <script type="text/javascript">
        $(document).ready(function(){
  $('#day li ').click(function(){
    $('#day li ').removeClass(".day_time active");
    $(this).addClass(".day_time active");
});
});
    </script>




</body>

</html>